@charset "UTF-8";
/* css Document*/
body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select{padding:0;margin:0;font-family:arial;}
li{list-style: none;}
img{border: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
body{
    background:#fff url(images/body_bg1.png) repeat-x;
}

.top{width: 960px;height:30px;margin: 0 auto;}
.top_menu{float: left;}
.top_menu li{float: left; background: url(images/top_ico.png) no-repeat right 14px;}
.top_menu a{}
.top_menu a:hover{}
.top_menu .no_dot{}

.top_bar{}
.top_bar li{}
.top_bar .phone{}
.top_bar .help{}